@font-face {
    font-family: "League Spartan";
    src: url("./assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

:root {
    /* Background positions */
    --curve-1: -512px 42%;
    --curve-2: right -512px bottom 0;
    --curve-3: -512px 0;

    /* Carousel settings */
    --carousel-position: 0;
    --carousel-visible-images: 1;

    /* Colors */
    --brick: hsl(10 34% 51%); /**/
    --brick-dark: hsl(10 34% 38%);
    --brick-transparent: hsla(10, 32%, 41%, 0.5);
    --ebony-clay: hsl(218 21% 18%);
    --white: hsl(0 0% 100%);
    --shadow-brick: hsla(10, 34%, 20%, 0.5);
    --transparent-white: hsl(0 0% 100% / 15%);

    --theme-color: var(--brick-dark);

    --body-bg-color: var(--white);
    --body-color: var(--theme-color); /*--ebony-clay*/
    --body-bg-color-inverted: var(--theme-color);
    --body-color-inverted: var(--white);
    --border-color: var(--transparent-white);
    --button-bg-color: var(--white);
    --button-color: var(--theme-color);
    --button-bg-color-inverted: var(--theme-color);
    --button-color-inverted: var(--white);
    --li-decoration-color: var(--white);
    --price-list-color: var(--theme-color); /*var(--brick-dark)*/
    --price-list-bg-color: var(--white);

    /* Font family */
    --body-font: "League Spartan", Tahoma, sans-serif;

    /* Font sizes */
    --heading-xl: clamp(2rem, 4.507vw + .9437rem, 5rem);
    --heading-l: clamp(2rem, 4.0712vw + 1.0458rem, 3rem);
    --heading-m: 1.25rem;
    --heading-s: 1.0625rem;
    --body: clamp(1rem, 1.0178vw + .7615rem, 1.25rem);
    --body-fixed: 1rem;
    --footer: 0.875rem;

    --elongated-font-size: var(--heading-xl);
    --h2-font-size: var(--heading-l);
    --h3-font-size: var(--heading-m);
    --button-font-size: var(--heading-s);
    --body-font-size: var(--body);
    --li-font-size: var(--body-fixed);
    --footer-font-size: var(--footer);

    /* Font weights */
    --light: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;

    --elongated-font-weight: var(--light);
    --h2-font-weight: var(--bold);
    --h3-font-weight: var(--bold);
    --body-font-weight: var(--regular);
    --button-font-weight: var(--semi-bold);

    /* Line heights */ /* brojke su za pocetak samo za desktop */
    --h2-line-height: 1;
    --h3-line-height: 1.2;
    --body-line-height: 1.5;
    --footer-line-height: 2;

    /* Letter spacings */
    --elongated-letter-spacing: clamp(-1px, -.0563vw + -.1887px, -.4px);
    --h2-letter-spacing: clamp(-.5px, -.0254vw + -.3046px, -.4px);
    --h3-letter-spacing: -0.25px;
    --body-letter-spacing: 0;
    --button-letter-spacing: 2.5px;
    --footer-letter-spacing: 2px;

    /* Sizing */
    --text-max-width: 28.5625rem;
    --business-content-flex-basis: 33.75rem;
    --business-content-max-width: 35.8125rem;
    --carousel-img-size: clamp(18rem, 20vw + 14rem, 20rem);
    --carousel-gap: 16px;
    --ig-logo-size: 1.5rem;
    --li-img-width: 8rem;
    --li-decoration-width: 32px;
    --logo-height: clamp(2rem, 2.0356vw + 1.5229rem, 2.5rem);
    --major-img-tablet-height: 22.5rem;
    --major-text-flex-basis: 27.8125rem;
    --major-text-max-width: var(--text-max-width);
    --minor-text-max-width: var(--text-max-width);

    /* Spacing */
    --main-column-gap: 125px;
    --card-row-gap: clamp(48px, 2.0356vw + 40.3664px, 56px);
    --card-column-gap: var(--main-column-gap);
    --carousel-padding-block: 80px;
    --dict-marign-bottom: calc(-1 * (var(--body-font-size) * var(--body-line-height)));
    --flex-row-column-gap: 1rem;
    --footer-column-gap: clamp(130px, 9.375vw + 58px, 193px);
    --footer-row-gap: 42px;
    --info-column-gap: var(--main-column-gap);
    --info-row-gap: 32px;
    --li-column-gap: calc(30px + var(--li-decoration-width));
    --li-row-gap: 36px;
    --li-decoration-offset: 24px;
    --margin-bottom-divide: clamp(36px, 1.784vw + 29.3099px, 55px);
    --margin-bottom-card: clamp(101px, 4.3257vw + 84.7786px, 118px);
    --margin-bottom-h2: clamp(13px, 3.5623vw + -.3588px, 27px);
    --margin-bottom-h3: 6px;
    --overlap: calc(clamp(72px, 6.1069vw + 49.0992px, 96px) * -1);
    --padding-block-button: 24px;
    --padding-inline-button: 37px;
    --margin-top-button: 70px;
    --padding-block-footer: clamp(64px, -2.381vw + 98.2857px, 80px);
    --padding-inline-main: clamp(24px, 13.2394vw + -25.6479px, 165px);
    --padding-top-services: clamp(72px, 8.6514vw + 39.5573px, 106px);
    --padding-bottom-services: clamp(96px, 3.5714vw + 68.5714px, 120px);
    --padding-block-li: 24px;
    --price-item-gap: 32px;
    --price-item-padding: 4px 6px;
    --price-list-margin-inline: clamp(16px, 4.507vw + -.9014px, 64px);
    --price-list-padding: 32px clamp(16px, 4.507vw + -.9014px, 64px);
    --price-list-column-gap: clamp(40px, 7.3529vw + -25.8824px, 80px);
    --price-list-section-margin-bottom: 32px;
    --services-row-gap: 80px;
    --services-column-gap: var(--main-column-gap);

    /* Shadow */
    --shadow: 0 75px 100px -50px var(--shadow-brick);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a.ig {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
a.ig svg {
    width: var(--ig-logo-size);
    aspect-ratio: 1;
}

address a {
    display: block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: inherit;
}

body {
    min-height: 100vh;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    color: var(--body-color);
    background-color: var(--body-bg-color);
    text-align: center;
}

.business-content {
    width: 100%;
    max-width: var(--business-content-max-width);
}

.business-content > img {
    width: 100%;
    height: 100%;
}

.button {
    display: inline-block;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    text-decoration: none;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    text-transform: uppercase;
    padding-block: var(--padding-block-button);
    padding-inline: var(--padding-inline-button);
    margin-block-start: var(--margin-top-button);
    border: 1px solid var(--button-color);
}
.inverted-color .button {
    background-color: var(--button-bg-color-inverted);
    color: var(--button-color-inverted);
    border-color: var(--button-color-inverted);
}
.cjenik .button {
    margin-block-end: var(--margin-top-button);
}

.card {
    row-gap: var(--card-row-gap);
    column-gap: var(--card-column-gap);
}

.card .major-text {
    margin-block-end: var(--margin-bottom-card);
}

.card img {
    box-shadow: var(--shadow);
}

.carousel-wrapper {
    overflow: hidden;
}
.carousel {
    position: relative;
    left: calc(-1 * calc(var(--carousel-img-size) + var(--carousel-gap)) * var(--carousel-position));
    transition: left 1s;
    padding-block: var(--carousel-padding-block);
    display: flex;
    column-gap: var(--carousel-gap);
    width: calc(var(--carousel-img-size) * var(--carousel-visible-images) + var(--carousel-gap) * calc(var(--carousel-visible-images) - 1));
}
.carousel img {
    width: var(--carousel-img-size);
    aspect-ratio: 1;
    object-fit: cover;
}
.carousel li {
    padding: 0;
    flex: auto 0 0;
}

.dict {
    margin-bottom: var(--dict-marign-bottom);
}

dt:not(#price-list dt)::after {
    content: ":";
}

em {
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    column-gap: var(--flex-row-column-gap);
}

footer {
    font-size: var(--footer-font-size);
    letter-spacing: var(--footer-letter-spacing);
    line-height: var(--footer-line-height);
    text-transform: uppercase;
    padding-block: var(--padding-block-footer);
}

footer.flex-container {
    column-gap: var(--footer-column-gap);
    row-gap: var(--footer-row-gap);
}

footer h2 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
    margin-block-end: var(--margin-bottom-h2);
}

h2.elongated {
    font-size: var(--elongated-font-size);
    font-weight: var(--elongated-font-weight);
    letter-spacing: var(--elongated-letter-spacing);
}

h3 {
    font-size: var(--button-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
    margin-block-end: var(--margin-bottom-h3);
}

header {
    background: url("./assets/images/patterns/pattern-header.svg") no-repeat 0 60%, url("./assets/images/homepage/header.png") no-repeat center/cover;
}

header.flex-container {
    padding-block: 80px 160px; /*temp*/
    row-gap: 32px; /*temp*/
    flex-direction: column;
}

#hours-heading {
    margin-block-end: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.info.flex-container {
    column-gap: var(--info-column-gap);
    row-gap: var(--info-row-gap);
    align-items: center;
    justify-content: start;
}

.inverted-color {
    color: var(--body-color-inverted);
    background-color: var(--body-bg-color-inverted);
}

li {
    font-size: var(--li-font-size);
    border-block-start: solid 1px var(--border-color);
    padding-block: var(--padding-block-li);
}

li.flex-container {
    column-gap: var(--li-column-gap);
    row-gap: var(--li-row-gap);
}

li:first-child {
    border-top: none;
    padding-block-start: 0;
}

li:last-child {
    padding-block-end: 0;
}

.logo {
    height: var(--logo-height);
    width: auto;
}

.logo path {
    fill: var(--white);
}

.major-text {
    max-width: var(--major-text-max-width);
}

.major-text::before {
    display: block;
    content: url("./assets/images/patterns/pattern-divide.svg");
    margin-block-end: var(--margin-bottom-divide);
}
.inverted-color .major-text::before {
    content: url("./assets/images/patterns/pattern-divide-inverted.svg");
}

.minor-text {
    max-width: var(--minor-text-max-width);
}

.overlap-top {
    margin-top: var(--overlap);
}

.p-inline-main {
    padding-inline: var(--padding-inline-main);
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--price-item-gap);
    padding: var(--price-item-padding);
    border-bottom: 1px solid var(--brick-transparent);
}

#price-list {
    min-width: 320px;
    padding: var(--price-list-padding);
    margin-top: var(--overlap);
    margin-inline: var(--price-list-margin-inline);
    color: var(--price-list-color);
    background-color: var(--price-list-bg-color);
    border: 1px solid var(--price-list-color);
    columns: 1 auto;
    column-gap: var(--price-list-column-gap);
    text-align: start;
}

#price-list h2 {
    font-weight: var(--button-font-weight);
}

#price-list section {
    break-inside: avoid;
    margin-block-end: var(--price-list-section-margin-bottom);
}

.services {
    padding-block-start: var(--padding-top-services);
    padding-block-end: var(--padding-bottom-services);
    row-gap: var(--services-row-gap);
    column-gap: var(--services-column-gap);
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

svg {
    display: block;
}

ul {
    list-style: none;
}

@media (hover:hover) {
    .button:hover {
        background-color: var(--button-bg-color-inverted);
        color: var(--button-color-inverted);
    }

    .inverted-color .button:hover {
        background-color: var(--button-bg-color);
        color: var(--button-color);
    }
}

@media (min-width: 48rem) {
    :root {
        --carousel-visible-images: 3;
        --carousel-img-size: clamp(10rem, 23.8095vw + -1.4286rem, 20rem);
    }

    .curve-1 {
        background-image: url("./assets/images/patterns/pattern-curve-top-right.svg");
        background-repeat: no-repeat;
        background-position: var(--curve-1);
    }

    .curve-2 {
        background-image: url("./assets/images/patterns/pattern-curve-top-left.svg");
        background-repeat: no-repeat;
        background-position: var(--curve-2);
    }

    .curve-3 {
        background-image: url("./assets/images/patterns/pattern-curve-top-right.svg");
        background-repeat: no-repeat;
        background-position: var(--curve-3);
    }

    .flex-row {
        justify-content: start;
    }

    footer {
        text-align: start;
    }

    footer.flex-container {
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .info.flex-container {
        align-items: start;
    }

    li.flex-container {
        flex-direction: row;
    }

    li .img-wrapper {
        flex: 0 0 var(--li-img-width);
        display: flex;
    }
    li .img-wrapper::after {
        content: "";
        display: block;
        height: 1px;
        flex: 0 0 var(--li-decoration-width);
        background-color: var(--li-decoration-color);
        position: relative;
        top: var(--li-decoration-offset);
    }

    .lines {
        position: relative;
    }

    .lines::after {
        content: url("./assets/images/patterns/pattern-lines.svg");
        position: absolute;
        top: 48%;
        left: 90%;
    }

    .services ul {
        text-align: start;
    }
}

@media (48rem <= width < 75rem) {
    .business-content:has(> img) {
        height: var(--major-img-tablet-height);
    }
}

@media (min-width: 56rem) {
    #price-list {
        column-count: 2;
    }
}


@media (min-width: 75rem) {

    :root {
        --overlap: -70px;
        --padding-block-footer: 78px;
        --padding-top-services: 200px;
        --curve-1: 0 76%;
        --curve-2: bottom calc(-1 * var(--overlap)) right 0;
        --curve-3: -384px 0;
    }

    body {
        text-align: start;
    }

    .card {
        margin-block-end: var(--margin-bottom-card);
    }
    .card .major-text {
        margin-block-end: 0;
    }

    .business-content {
        flex: 0 1 var(--business-content-flex-basis);
    }

    .flex-container {
        flex-direction: row;
        justify-content: space-evenly; /* center, space-around, space-between? */
    }
    .flex-container.reverse {
        flex-direction: row-reverse;
    }

    .flex-column {
        flex-direction: column;
    }

    footer.flex-container{
        justify-content: space-evenly;
    }

    header.flex-container {
        padding-block: 48px 216px; /*temp*/
        row-gap: 160px; /*temp*/
        flex-direction: column;
        align-items: start;
    }

    .major-text {
        flex: 0 1 var(--major-text-flex-basis);
    }

    .overlap-bottom {
        margin-bottom: var(--overlap);
    }
}

@media (min-width: 90rem) {
    #price-list {
        column-count: 3;
    }
}